{{ 'cart-slider.css' | asset_url | stylesheet_tag }}

<div class="cart-slider">
  <div class="w-75"></div>
  <div class="w-25">
    <div class="cart">
      <h2>Cart</h2>
      <cart-items>
        {%- if cart != empty -%}
          {%- for item in cart.items -%}
            <a href="{{ item.url }}" id="cartItem{{ item.index | plus: 1 }}" class="cart-item">
              <img src="{{ item.image | image_url: width: 300 }}" class="cart-item__image" alt="{{ item.image.alt | escape }}" loading="lazy" width="150" height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}">
              <div class="content">
                <h4>{{ item.product.title | escape }}</h4>
                <div class="group">
                  <h3>{{ item.final_price | money_with_currency }}</h3>
                  <div class="trash">
                    {% render 'trash-icon' %}
                  </div>
                </div>
              </div>
            </a>
          {%- endfor -%}
        {%- endif -%}
      </cart-items>
    </div>
    <div class="feature-products">
      <h2>Recommended for you</h2>
    </div>
    <div class="price-overview">
      <div class="subtotal">
        <h2>Subtotal</h2>
        <h2>
          {{ cart.total_price | money_with_currency }}
        </h2>
      </div>
      <button>Secure Checkout →</button>
    </div>
  </div>
</div>