<link rel="stylesheet" href="{{ 'info-cards.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'info-cards.css' | asset_url | stylesheet_tag }}</noscript>

<div class="info-cards flex page-width">
  {%- for block in section.blocks -%}
    <div class="card bg-{{ block.settings.color_scheme }} gradient">
      {%- liquid
        if block.settings.title == 'Questions' 
         render 'card-icon-question' 
       elsif block.settings.title == 'Delivery' 
         render 'card-icon-delivery' 
       elsif block.settings.title == 'Quality Guarantee' 
        render 'card-icon-quality'
       else 
        render 'card-icon-payment' 
       endif 
        -%}
      <h4>{{ block.settings.title }}</h4>
      <p>{{ block.settings.text }}</p>
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.info-cards.name",
  "class": "section",
  "tag": "section",
  "blocks": [
    {
      "type": "card",
      "name": "t:sections.info-cards.blocks.card.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Questions",
          "label": "t:sections.info-cards.blocks.card.settings.title.label"
        },
        {
          "type": "text",
          "id": "text",
          "default": "We are here to help, contact via info@livehealthy.com.hk",
          "label": "t:sections.info-cards.blocks.card.settings.text.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "light-green",
              "label": "Light Green"
            },
            {
              "value": "sky-blue",
              "label": "Sky Blue"
            },
            {
              "value": "light-orange",
              "label": "Light Orange"
            },
            {
              "value": "light-pink",
              "label": "Light Pink"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "label": "t:sections.all.colors.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.info-cards.presets.name",
      "blocks": [
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}