{{ 'slide-cart.css' | asset_url | stylesheet_tag }}

<slide-cart>
  <div class="cart-slider" id="cartSlider">
    <div id="closeButton" class="w-75"></div>
    <div class="w-25">
      <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
        <div class="cart">
          <div class="cart-view">
            <div class="cart-item_count">
              <h2>Cart</h2>
              <span  class="cart-count-bubble">{{ cart.item_count }}</span>
            </div>
            <a href="{{ routes.cart_url }}">View cart</a>
          </div>
          <cart-items>
            <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
              <div class="js-contents">
                {%- if cart != empty -%}
                  {%- for item in cart.items -%}
                    <a
                      href="{{ item.url }}"
                      id="cartItem{{ item.index | plus: 1 }}"
                      class="cart-item">
                      <img
                        src="{{ item.image | image_url: width: 300 }}"
                        class="cart-item__image"
                        alt="{{ item.image.alt | escape }}"
                        loading="lazy"
                        width="150"
                        height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}" />
                      <div class="content">
                        <h4>{{ item.product.title | escape }}</h4>
                        <div class="group">
                          <div class="cart-item__quantity-wrapper">
                            <quantity-input class="quantity">
                              <button
                                class="quantity__button no-js-hidden minus"
                                name="minus"
                                type="button">
                                <span class="visually-hidden">{{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}</span>
                                {% render 'icon-minus' %}
                              </button>
                              <input
                                class="quantity__input"
                                type="number"
                                name="updates[]"
                                value="{{ item.quantity }}"
                                min="1"
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}" />
                              <button
                                class="quantity__button no-js-hidden plus"
                                name="plus"
                                type="button">
                                <span class="visually-hidden">{{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}</span>
                                {% render 'icon-plus' %}
                              </button>
                            </quantity-input>
                          </div>
                          <div class="item-price">
                            <div class="loading-overlay hidden">
                              <div class="loading-overlay__spinner">
                                <svg
                                  aria-hidden="true"
                                  focusable="false"
                                  class="spinner"
                                  viewBox="0 0 66 66"
                                  xmlns="http://www.w3.org/2000/svg"></svg>
                                  <circle
                                    class="path"
                                    fill="none"
                                    stroke-width="6"
                                    cx="33"
                                    cy="33"
                                    r="30"></circle>
                              </svg>
                            </div>
                          </div>
                            <div class="amount">
                              {%- if item.original_line_price != item.final_line_price -%}
                              <h3>
                                {{ item.original_line_price | money }} X {{ item.quantity }}
                              </h3>
                              <span>
                                <h3>
                                = {{ item.final_line_price | money }}
                                </h3>
                              </span>
                              {%- else -%}
                                <h3>
                                  {{ item.original_line_price | money }}
                                </h3>
                              {%- endif -%}
                            </div>
                          </div>
                          <div class="trash">
                            <cart-remove-button
                              class="cartRemove"
                              id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}">
                              <button
                                type="button"
                                class="button button--tertiary"
                                aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">

                                {% render 'trash-icon' %}
                              </button>
                            </cart-remove-button>
                          </div>
                        </div>
                      </div>
                    </a>
                  {%- endfor -%}
                {%- endif -%}
              </div>
            </div>
          </cart-items>
        </div>
        <div class="feature-products">
          <h2>Recommended for you</h2>
          {% render 'recommendation-slider'
          , products: section.settings.collection.products %}
        </div>
        <div class="price-overview">
          <div class="subtotal">
            <h2>Subtotal</h2>
            <h2>
              {{ cart.total_price | money_with_currency }}
            </h2>
          </div>
          <button type="submit" id="checkout" name="checkout" {% if cart == empty %} disabled {% endif %} form="cart">Secure Checkout →</button>
        </div>
      </form>
    </div>
  </div>
</slide-cart>

<script>
  document.querySelector('#checkout').addEventListener('click', () => document.querySelector('#cart').submit());
</script>

{% schema %}
{
  "name": "Slide Cart",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ]
}
{% endschema %}