{{ 'slide-cart.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slide-cart.js' | asset_url }}" defer="defer"></script>

<slide-cart>
  <div class="cart-slider" id="cart-slider">
    <div class="w-75"></div>
    <div id="closeButton" class="w-25">
      <div class="cart">
        <div class="cart-item_count">
          <h2>Cart</h2>
          <span>{{ cart.item_count }}</span>
        </div>
        <cart-items>
          {%- if cart != empty -%}
            {%- for item in cart.items -%}
              <a href="{{ item.url }}" id="cartItem{{ item.index | plus: 1 }}" class="cart-item">
                <img src="{{ item.image | image_url: width: 300 }}" class="cart-item__image" alt="{{ item.image.alt | escape }}" loading="lazy" width="150" height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"/>
                <div class="content">
                  <h4>{{ item.product.title | escape }}</h4>
                  <div class="group">
                    <div class="cart-item__quantity-wrapper">
                      <quantity-input class="quantity">
                        <button class="quantity__button no-js-hidden minus" name="minus" type="button">
                          <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                          {% render 'icon-minus' %}
                        </button>
                        <input class="quantity__input" type="number" name="updates[]" value="{{ item.quantity }}" min="0" aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}" id="Quantity-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}"/>
                        <button class="quantity__button no-js-hidden plus" name="plus" type="button">
                          <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                          {% render 'icon-plus' %}
                        </button>
                      </quantity-input>
                    </div>
                    <h3>{{ item.original_line_price | money_with_currency }}</h3>
                    <div class="trash">
                      {% render 'trash-icon' %}
                    </div>
                  </div>
                </div>
              </a>
            {%- endfor -%}
          {%- endif -%}
        </cart-items>
      </div>
      <div class="feature-products">
        <h2>Recommended for you</h2>
        {% render 'recommendation-slider'
         , products: section.settings.collection.products
         %}
      </div>
      <div class="price-overview">
        <div class="subtotal">
          <h2>Subtotal</h2>
          <h2>
            {{ cart.total_price | money_with_currency }}
          </h2>
        </div>
        <button>Secure Checkout →</button>
      </div>
    </div>
  </div>
</slide-cart>

{% schema %}
  {
    "name": "Slide Cart",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ]
  }
{% endschema %}